#me
local_util.py
# images file
handson-ml3/images/*

#env file
dsvn/
.env*
.env.*
.env_test
.env_main

#local settings file
backend/settings/local.py

#Vim files
*.*sw[op]
*~

#redis files
dump.rdb
data.json

#temp files
temp
temp_test_file
#When running the full set of tests, one creates a .qvs file in the project root
*.qvs

#postgres dumps - just in case - this is the file specified in the wiki
latest.dump
*.dump
*.dump.*
logfile

.ipynb_checkpoints
notebooks/

*.ipynb
*.zip
*.orig

#pickles
*.pkl
*.pk

############################################
# master python list from github (overkill)
# https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
vnpoc/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
bin/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
_tests_report_*

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#OSX
.DS_Store

#misc
get_campaigns.py

*.xlsx
*.xls
*.csv
*.tsv
*.parquet
*.gz

#encryption config
fieldkeys/1

/local_data

.env_test

#IDE stuff
.idea

#vscode
.vscode/
.devcontainer/

.mypy_cache/

# cached file for exuberant tags
# used for indexing in VIM
*.tags
#docker volumes
/pg_data

bandit.txt

# Data
/data_test

.ipython/
.python-version

.history/

utils/featureflags-dev.json


*.bak
*.bak.*
*.ckpt
*.old
*.pyc
.DS_Store
.ipynb_checkpoints/
.vscode/
checkpoint
/logs
/tf_logs
/images
my_*
/person.proto
/person.desc
/person_pb2.py
/datasets
